{
    "body_id": [
        (
            ref_id: "10",           // id of the reference body
            epoch: 2459000.5,       // JDN
            e: 0.107059296335647,   // Eccentricity, absolute [0, 1] value
            a: 467823.1174440739,   // Semi-major axis, Mm
            i: 0.01903295635127428, // Inclination, radians
            O: 2.877313561239668,   // Longitude of ascending node, radians
            w: 5.779506327455486,   // Argument of periapsis, radians
            M: 2.335896329826738,   // Mean anomaly, radians
            p: 2019.91375564515     // Sidereal orbital period, days (86400s)
        )
    ]
}