#![enable(implicit_some)]
(
    name: "Earth and Moon",
    description: "Earth and moon and some satellites",
    time: "J2000",
    simulation_scale: 500,
    focus: "399",
    bodies: {
        "major_bodies": {
            "10": CustomVector(((2451549.0, 1000, 0, 0, 0, 0, 0))),
            "399": CustomVector(((2451549.0, 0, 0, 0, 0, 0, 0))),
        },  
        "other_satellites": {
            "301": CustomVector(((2451549.0, 10, 0, 0, 0, 0, 0))),
        }
    },
)