#![enable(implicit_some)]
(
    name: "Solar system",
    description: "All planets, dwarf planets and satellites in the solar system, plus a bunch of asteroids and comets.",
    time: "J2000",
    simulation_scale: 500,
    bodies: [
        (
            source: "major_bodies/*",
        ),
        (
            source: "jovian_satellites/*",
        ),
        (
            source: "saturnian_satellites/*",
        ),
        (
            source: "other_satellites/*",
        ),
        (
            source: "asteroids/*100",
        ),
        (
            source: "comets/*100",
        ),
    ]
)