#![enable(implicit_some)]
(
    name: "GLTF test",
    description: "Test GLTF files",
    time: "J2000",
    simulation_scale: 500,
    bodies: {
        "major_bodies": {
            "10": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 1000, 0, 0, 0, 0, 0)),
            )
        },  
        "artificial": {
            "boombox": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 0, 0, 0, 0, 0)),
                scale: [100.0, 100.0, 100.0],
                initial_rot: [180, 0, 120],
            ),
            "duck": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 3, 0, 0, 0, 0)),
                scale: [0.01, 0.01, 0.01],
                initial_rot: [0, 0, 120],
            ),
            "bottle": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, -3, 0, 0, 0, 0)),
                scale: [10.0, 10.0, 10.0],
                initial_rot: [180, 0, 0],
            ),
            "helmet": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, -6, 0, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, 180],
            ),
            "milktruck": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 6, 0, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, 180],
            ),
            "metalrough": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 25, 0, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [90, 0, -90],
            ),
            "metalroughnotextures": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 50, 0, 0, 0, 0)),
                scale: [3000.0, 3000.0, 3000.0],
                initial_rot: [-44.3, 90, 0],
            ),
            "normaltangentmirror": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 0, 10, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, -90],
            ),
            "normaltangenttest": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 6, 0, 5, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, -90],
            ),
            "orientationtest": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, -5, 5, 0, 0, 0)),
                scale: [0.5, 0.5, 0.5],
                initial_rot: [0, 0, 0],
            ),
            "texturecoordinatetest": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, -5, 12, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, -90],
            ),
            "texturesettingstest": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, -17, 10, 0, 0, 0)),
                scale: [0.7, 0.7, 0.7],
                initial_rot: [90, 0, -90],
            ),
            "vertexcolortest": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 0, 14, 0, 0, 0, 0)),
                scale: [1.0, 1.0, 1.0],
                initial_rot: [0, 0, 0],
            ),
            "simplemeshes": (
                motion_type: CustomVector,
                state_vector: ((2451549.0, 6, 0, -7, 0, 0, 0)),
                scale: [2.0, 2.0, 2.0],
                initial_rot: [0, 0, -90],
            ),
        }
    },
)