(
    name: "Jovian system",
    description: "Solar system barycenter, Sun, Jupiter and it's system barycenter, as well as 10 of its moons",
    time: "J2000",
    simulation_scale: 500,
    reference: "599",
    camera_pos: [
        0,
        1,
        2,
    ],
    camera_up: [
        0,
        0,
        1,
    ],
    camera_target: [
        0,
        0,
        0,
    ],
    bodies: {
        "major_bodies": ["5", "599", "10"],
        "jovian_satellites": ["501", "502", "503", "504", "505", "506", "507", "508", "509", "510"]
    },
)