#![enable(implicit_some)]
(
    name: "Jovian system",
    description: "Solar system barycenter, Sun, Jupiter and it's system barycenter, as well as 10 of its moons",
    time: "J2000",
    simulation_scale: 500,
    focus: "599",
    bodies: {
        "major_bodies": {
            "5": (
                motion_type: DefaultVector,
            ),
            "599": (
                motion_type: DefaultVector,
            ),
            "10": (
                motion_type: DefaultVector,
            ),
        },  
        "jovian_satellites": {
            "501": (
                motion_type: DefaultVector,
            ),
            "502": (
                motion_type: DefaultVector,
            ),
            "503": (
                motion_type: DefaultVector,
            ),
            "504": (
                motion_type: DefaultVector,
            ),
            "505": (
                motion_type: DefaultVector,
            ),
            "506": (
                motion_type: DefaultVector,
            ),
            "507": (
                motion_type: DefaultVector,
            ),
            "508": (
                motion_type: DefaultVector,
            ),
            "509": (
                motion_type: DefaultVector,
            ),
            "510": (
                motion_type: DefaultVector,
            ),
        }
    },
)