(
    name: "Jovian system",
    description: "Solar system barycenter, Sun, Jupiter and it's system barycenter, as well as 10 of its moons",
    time: "J2000",
    simulation_scale: 500,
    reference: "599",
    camera_pos: [
        0,
        1,
        2,
    ],
    camera_up: [
        0,
        0,
        1,
    ],
    camera_target: [
        0,
        0,
        0,
    ],
    bodies: {
        "major_bodies": {
            "5": DefaultVector,
            "599": DefaultVector,
            "10": DefaultVector,
        },  
        "jovian_satellites": {
            "501": DefaultVector,
            "502": DefaultVector,
            "503": DefaultVector,
            "504": DefaultVector,
            "505": DefaultVector,
            "506": DefaultVector,
            "507": DefaultVector,
            "508": DefaultVector,
            "509": DefaultVector,
        }
    },
)