(
    name: "Planets and inner moons",
    description: "Solar system barycenter, Sun, barycenters of all planets, all major planets, the Moon, Phobos and Deimos",
    time: "J2000",
    simulation_scale: 500,
    camera_pos: [
        0.0,
        1.0,
        2.0,
    ],
    camera_up: [
        0.0,
        0.0,
        1.0,
    ],
    camera_target: [
        0.0,
        0.0,
        0.0,
    ],
    bodies: {
        "major_bodies": {
            "199": DefaultVector,
            "299": DefaultVector,
            "399": DefaultVector,
            "499": DefaultVector,
            "599": DefaultVector,
            "699": DefaultVector,
            "799": DefaultVector,
            "899": DefaultVector,
            "999": DefaultVector,
        },  
        "jovian_satellites": {
            "501": DefaultVector,
            "502": DefaultVector,
            "503": DefaultVector,
            "504": DefaultVector,
            "505": DefaultVector,
            "506": DefaultVector,
            "507": DefaultVector,
            "508": DefaultVector,
            "509": DefaultVector,
        },
        "other_satellites": {
            "301": DefaultVector,
            "401": DefaultVector,
            "402": DefaultVector,
        }
    },
)