(
    identifier: "test",
    entities: [
        (
            name: Some("sun"),
            index: (0),
            parent: None,
            children: [],
        ),
        (
            name: Some("sun_barycenter"),
            index: (1),
            parent: None,
            children: [
                (2),
            ],
        ),
        (
            name: Some("planet"),
            index: (2),
            parent: Some((1)),
            children: [
                (4),
            ],
        ),
        (
            name: Some("orbit"),
            index: (3),
            parent: None,
            children: [],
        ),
        (
            name: Some("center"),
            index: (4),
            parent: Some((2)),
            children: [
                (5),
                (6),
            ],
        ),
        (
            name: Some("moon"),
            index: (5),
            parent: Some((4)),
            children: [],
        ),
        (
            name: Some("orbit"),
            index: (6),
            parent: Some((4)),
            children: [],
        ),
        (
            name: Some("grid"),
            index: (7),
            parent: None,
            children: [],
        ),
        (
            name: Some("axes"),
            index: (8),
            parent: None,
            children: [],
        ),
        (
            name: Some("Duck.glb/scene_0"),
            index: (9),
            parent: None,
            children: [
                (10),
            ],
        ),
        (
            name: Some("Duck.glb/node_0"),
            index: (10),
            parent: Some((9)),
            children: [
                (11),
                (12),
            ],
        ),
        (
            name: Some("Duck.glb/node_2"),
            index: (11),
            parent: Some((10)),
            children: [],
        ),
        (
            name: Some("Duck.glb/node_1"),
            index: (12),
            parent: Some((10)),
            children: [],
        ),
    ],
    physics: [
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: true,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0.25,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: true,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0.86,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
        (
            enabled: false,
            collision_enabled: false,
            inv_mass: 1,
            inv_inertia: [
                1,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                1,
            ],
            force_sum: [
                0,
                0,
                0,
            ],
            torque_sum: [
                0,
                0,
                0,
            ],
            lin_mom: [
                0,
                0,
                0,
            ],
            ang_mom: [
                0,
                0,
                0,
            ],
        ),
    ],
    mesh: [
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "ico_sphere",
            )),
            material_overrides: [
                Some((
                    name: "sun_mat",
                    master: "gltf_metal_rough",
                    vert: "relay_all.vert",
                    frag: "gltf_metal_rough.frag",
                    textures: {},
                    uniforms: {
                        LightTypes: (
                            value: IntArr([
                                0,
                            ]),
                        ),
                        LightPosDir: (
                            value: Vec3Arr([
                                0,
                                0,
                                0,
                            ]),
                        ),
                        BaseColor: (
                            value: Int(0),
                        ),
                        ViewProjTrans: (
                            value: Matrix((1.8073951, -0.22662434, -0.28897148, -0.28897148, 0.60455155, 0.67752653, 0.8639224, 0.8639224, 0, 1.5778464, -0.41247255, -0.41247255, 3.3234806, -2.766738, 17.158531, 17.358532)),
                        ),
                        EmissiveFactor: (
                            value: Vec3((1, 0.7, 0)),
                        ),
                        RoughnessFactor: (
                            value: Float(1),
                        ),
                        LightColors: (
                            value: Vec3Arr([
                                1,
                                1,
                                1,
                            ]),
                        ),
                        Occlusion: (
                            value: Int(4),
                        ),
                        LightIntensities: (
                            value: FloatArr([
                                281.83826,
                            ]),
                        ),
                        BaseColorFactor: (
                            value: Vec4((1, 1, 1, 1)),
                        ),
                        CameraPos: (
                            value: Vec3((3.1533234, -14.924752, 8.61508)),
                        ),
                        WorldTrans: (
                            value: Matrix((1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)),
                        ),
                        WorldTransInvTranspose: (
                            value: Matrix((1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)),
                        ),
                        MetallicFactor: (
                            value: Float(1),
                        ),
                        Normal: (
                            value: Int(2),
                        ),
                        MetallicRoughness: (
                            value: Int(1),
                        ),
                        Emissive: (
                            value: Int(3),
                        ),
                    },
                    defines: [],
                    failed_to_compile: false,
                )),
            ],
        ),
        (
            enabled: false,
            raycasting_visible: true,
            visible: true,
            mesh: None,
            material_overrides: [],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "lat_long_sphere",
            )),
            material_overrides: [
                Some((
                    name: "planet_mat",
                    master: "gltf_metal_rough",
                    vert: "relay_all.vert",
                    frag: "gltf_metal_rough.frag",
                    textures: {},
                    uniforms: {
                        LightTypes: (
                            value: IntArr([
                                0,
                            ]),
                        ),
                        LightPosDir: (
                            value: Vec3Arr([
                                0,
                                0,
                                0,
                            ]),
                        ),
                        BaseColor: (
                            value: Int(0),
                        ),
                        ViewProjTrans: (
                            value: Matrix((1.8073951, -0.22662434, -0.28897148, -0.28897148, 0.60455155, 0.67752653, 0.8639224, 0.8639224, 0, 1.5778464, -0.41247255, -0.41247255, 3.3234806, -2.766738, 17.158531, 17.358532)),
                        ),
                        EmissiveFactor: (
                            value: Vec3((0, 0, 0)),
                        ),
                        RoughnessFactor: (
                            value: Float(1),
                        ),
                        LightColors: (
                            value: Vec3Arr([
                                1,
                                1,
                                1,
                            ]),
                        ),
                        Occlusion: (
                            value: Int(4),
                        ),
                        LightIntensities: (
                            value: FloatArr([
                                281.83826,
                            ]),
                        ),
                        BaseColorFactor: (
                            value: Vec4((0.1, 0.8, 0.2, 1)),
                        ),
                        CameraPos: (
                            value: Vec3((3.1533234, -14.924752, 8.61508)),
                        ),
                        WorldTrans: (
                            value: Matrix((0.4913865, 0.8709417, 0, 0, -0.8709417, 0.4913865, 0, 0, 0, 0, 1, 0, 4.9138646, 8.709417, 0, 1)),
                        ),
                        WorldTransInvTranspose: (
                            value: Matrix((0.49138644, 0.8709416, 0, -10.000001, -0.8709416, 0.49138644, 0, -0.0000004768371, 0, 0, 1, 0, 0, 0, 0, 1)),
                        ),
                        MetallicFactor: (
                            value: Float(1),
                        ),
                        Normal: (
                            value: Int(2),
                        ),
                        MetallicRoughness: (
                            value: Int(1),
                        ),
                        Emissive: (
                            value: Int(3),
                        ),
                    },
                    defines: [],
                    failed_to_compile: false,
                )),
            ],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "circle",
            )),
            material_overrides: [
                None,
            ],
        ),
        (
            enabled: false,
            raycasting_visible: true,
            visible: true,
            mesh: None,
            material_overrides: [],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "lat_long_sphere",
            )),
            material_overrides: [
                Some((
                    name: "moon_mat",
                    master: "gltf_metal_rough",
                    vert: "relay_all.vert",
                    frag: "gltf_metal_rough.frag",
                    textures: {},
                    uniforms: {
                        LightTypes: (
                            value: IntArr([
                                0,
                            ]),
                        ),
                        LightPosDir: (
                            value: Vec3Arr([
                                0,
                                0,
                                0,
                            ]),
                        ),
                        BaseColor: (
                            value: Int(0),
                        ),
                        ViewProjTrans: (
                            value: Matrix((1.8073951, -0.22662434, -0.28897148, -0.28897148, 0.60455155, 0.67752653, 0.8639224, 0.8639224, 0, 1.5778464, -0.41247255, -0.41247255, 3.3234806, -2.766738, 17.158531, 17.358532)),
                        ),
                        EmissiveFactor: (
                            value: Vec3((0, 0, 0)),
                        ),
                        RoughnessFactor: (
                            value: Float(1),
                        ),
                        LightColors: (
                            value: Vec3Arr([
                                1,
                                1,
                                1,
                            ]),
                        ),
                        Occlusion: (
                            value: Int(4),
                        ),
                        LightIntensities: (
                            value: FloatArr([
                                281.83826,
                            ]),
                        ),
                        BaseColorFactor: (
                            value: Vec4((0.8, 0.8, 0.7, 1)),
                        ),
                        CameraPos: (
                            value: Vec3((3.1533234, -14.924752, 8.61508)),
                        ),
                        WorldTrans: (
                            value: Matrix((-0.1409949, -0.14184658, 0, 0, 0.14184658, -0.1409949, 0, 0, 0, 0, 0.20000003, 0, 2.7989407, 6.5817184, 0, 1)),
                        ),
                        WorldTransInvTranspose: (
                            value: Matrix((-3.524871, -3.5461628, 0, 33.20575, 3.5461628, -3.524871, 0, 13.274208, 0, 0, 4.9999986, 0, 0, 0, 0, 1)),
                        ),
                        MetallicFactor: (
                            value: Float(1),
                        ),
                        Normal: (
                            value: Int(2),
                        ),
                        MetallicRoughness: (
                            value: Int(1),
                        ),
                        Emissive: (
                            value: Int(3),
                        ),
                    },
                    defines: [],
                    failed_to_compile: false,
                )),
            ],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "circle",
            )),
            material_overrides: [
                None,
            ],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "grid",
            )),
            material_overrides: [
                None,
            ],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "axes",
            )),
            material_overrides: [
                None,
            ],
        ),
        (
            enabled: false,
            raycasting_visible: true,
            visible: true,
            mesh: None,
            material_overrides: [],
        ),
        (
            enabled: false,
            raycasting_visible: true,
            visible: true,
            mesh: None,
            material_overrides: [],
        ),
        (
            enabled: true,
            raycasting_visible: true,
            visible: true,
            mesh: Some((
                name: "Duck.glb/mesh_0/LOD3spShape",
            )),
            material_overrides: [
                None,
            ],
        ),
        (
            enabled: false,
            raycasting_visible: true,
            visible: true,
            mesh: None,
            material_overrides: [],
        ),
    ],
    transform: [
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0.5042884,
                    0.86353534,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    10,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    10,
                    10,
                    10,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    -0.99098825,
                    -0.13394922,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    3,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    0.2,
                    0.2,
                    0.2,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    3,
                    3,
                    3,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    100000,
                    100000,
                    100000,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    300,
                    300,
                    300,
                ],
            ),
        ),
        (
            enabled: false,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    0,
                    1,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    0,
                    0,
                    0,
                ],
                rot: [
                    0,
                    0,
                    1,
                    0,
                ],
                scale: [
                    0.01,
                    0.01,
                    0.01,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    357,
                    39,
                    -717,
                ],
                rot: [
                    0.39263976,
                    -0.4044953,
                    0.77570844,
                    0.28371465,
                ],
                scale: [
                    1,
                    1,
                    1,
                ],
            ),
        ),
        (
            enabled: true,
            local_transform: (
                trans: [
                    400.113,
                    431.07803,
                    463.264,
                ],
                rot: [
                    -0.3057725,
                    0.87805897,
                    0.3476481,
                    -0.1210639,
                ],
                scale: [
                    1,
                    0.99999994,
                    1,
                ],
            ),
        ),
    ],
    light: {
        (0): (
            enabled: true,
            light_type: Point,
            color: [
                1,
                1,
                1,
            ],
            intensity: 10000000,
            direction: Some([
                0,
                0,
                -1,
            ]),
        ),
    },
)