#![enable(implicit_some)]
(
    name: "Jovian system",
    description: "Solar system barycenter, Sun, Jupiter and it's system barycenter, as well as 10 of its moons",
    time: "J2000",                          // String, can be just J2000 or a JDN date
    simulation_scale: 500,                  // Times, as in "500x speed"
    focus: "599",                           // Id of body to focus when opening the scene
                                            
                                            // Optional camera params. If either this, up or target aren't present, it will do a goto to `tracking`
    camera_pos: [0, 1, 2],                  // Position in Mm of camera, wrt. `tracking`'s transform at `time`
    camera_target: [0, 0, 0],               // Camera target position in Mm, wrt. `tracking`'s transform at `time`
    camera_up: [0, 0, 1],                   // Normalized. Likely just [0, 0, 1] for locked pitch

    bodies: [                               // Bodies to include in scene
        (
            source: "major_bodies/*50",     // Optional. Wildcard: 50 random bodies of the group (can use just '*' to get all of them)
        ),
        (
            name: "Earth",                  // Optional. Name override (will fallback to database entry after imported)
            source: "major_bodies/399",     // Optional. Database entry to use as source
            parent: "Sun",                  // Optional. Name of parent entity
            pos: [10, 20, 30],              // Optional. Position in Mm
            rot: [30, 60, 90],              // Optional. Euler angles in degrees
            scale: [1, 2, 3],               // Optional. Scale for initial transform
            linvel: [10, 20, 30],           // Optional. Linear velocity in Mm/s
            angvel: [10, 20, 30],           // Optional. Axis of rotation, length is rad/s, right-hand rule
            
            // BodyDescription overrides
            mass: 23,                       // Optional. Mass override in Kg
            radius: 23,                     // Optional. Radius override in Mm
            brightness: 23,                 // Optional. Brightness override in Candela
            mesh: "cube",                   // Optional. Mesh name override
            mesh_params: {                  // Optional. Mesh params (TODO)
                "num_sides": "6"
            },            
            material: "gltf_metal_rough",   // Optional. Material override
            material_params: {              // Optional string to string map of uniforms for the target material shader
                "diffuse_color": "c9c9c9"   // sRGB hex diffuse color
            },          
        )
    ],
)