(
    name: "Jovian system",
    description: "Solar system barycenter, Sun, Jupiter and it's system barycenter, as well as 10 of its moons",
    time: "J2000",                      // String, can be just J2000 or a JDN date
    simulation_scale: 500,              // Times, as in "500x speed"
    tracking: "599",                    // Id of body set as initial tracking reference
    camera_pos: [                       // Position in Mm of camera, wrt. `tracking`'s transform at `time`
        0,
        1,
        2,
    ],
    camera_up: [                        // Normalized. Likely just [0, 0, 1] for locked pitch
        0,
        0,
        1,
    ],
    camera_target: [                    // Camera target position in Mm, wrt. `tracking`'s transform at `time`
        0,
        0,
        0,
    ],
    bodies: {                           // Bodies to include in scene
        "major_bodies": {
            "5": DefaultVector,         // These are the 4 variants of the enum:
            "599": DefaultElements, 
            "10": CustomVector(((2451549.0, 0, 1, 2, 0, 1, 2))),
            "499": CustomElements((
                ref_id: "10",
                epoch: (34234.0),
                a: (23),
                e: 0.3,
                i: (423),
                O: (32),
                w: (34),
                M: (34),
                p: 44,
            )),
        },
        "jovian_satellites": {
            "5": DefaultVector,
            "6": DefaultVector,
            "12454": DefaultVector,
            "553": DefaultVector,
            "5355": DefaultVector,
        },
    },
)